@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Timmerman Airfield<br />
    Milwaukee, WI 53203<br />
    <abbr title="Phone">P:</abbr>
    414.555.0000
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">g2Aviation@gmail.com</a><br />
</address>