@model Aviator.Models.Calendar

@{
    ViewBag.Title = "Home Page";
}
<br />

<div class="jumbotron container" style="background-image: url(../../Content/Aviators.PNG)" >
    <h1>Aviator</h1>
    <h3>Flight Club Management Simplified</h3>
    <h3>Scheduling</h3>
    <h3>Maintenance</h3>
    <h3>Billing</h3>
    <h3>All In One Place.</h3>
    <p class="lead"></p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Maintenance Due</h4>
        <p>This week there is required maintenance for your plane. Please view club calendar for details.</p>
    </div>
}
