@model IEnumerable<Aviator.Models.Calendar>

@{
    ViewBag.Title = "Index";
}
<br />
@if (User.IsInRole("Pilot"))
{
    <center>
        <div class="form-group">
            <p class="btn btn-default"> @Html.ActionLink("Add Reservation", "MakeReservation", "Calendars")</p>
        </div>
    </center>
}

@if (User.IsInRole("MTech"))
{
    <center>
        <div class="form-group">
            <p class="btn btn-default"> @Html.ActionLink("Add Maintenance", "MakeReservation", "Calendars")</p>
        </div>
    </center>
}

<br />

<div class="row">
    @*<div class="col-md-1"></div>*@
    <div class="col-md-12" >
        <div id="calendar"></div>
    </div>
</div>

@section scripts{
 
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                defaultView: 'agendaWeek',
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 30,
                events: "/calendars/getevents/"

            });
        });
    </script>

    @*<script type="text/javascript">
        $(function () {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                data: "{}",
                url: "/calendars/GetEvents",
                dataType: "json",
                success: function (data) {
                    alert(data);
                    $('#calendar_ph').fullCalendar({
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },

                        defaultView: 'month',
                        editable: true,
                        height: 650,

                    });

                },
                error: function () {

                }
            });


        })
    .done(function (data) {


    });
    </script>*@


    }


    

    